@import url("https://fonts.googleapis.com/css?family=Nunito:300,600i");
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    background-color: #EBEFF2;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #333;
}

/* Side navigation styles */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
.sidebar a {
    display: block;
    color: #000000;
    padding: 16px;
    text-decoration: none;
}
   
.sidebar a.active {
    border-left: 3px solid #EA5B31;
    background-color: #F1F2F2;
    transition: background-color 0.5s;
    color: #EA5B31;
}

.sb-links a:hover {
    background-color: #F1F2F2;
    color: #EA5B31;
}
.link {
    color: #000;
}
div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 100%;
}
.nav-header {
    padding: 5px;
    padding-left: 25px;
    flex-grow: 8;
    text-align: left;
    font-size: 30px;
    font-family: 'Sacramento', cursive;
    font-weight: 600;
}
.logo:hover {
    background-color: inherit; 
}
.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.name-circle {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #EA5B31;
    border-radius: 50%;
    color: #ffffff;
}
/* Navigation Bar */
.img-size {
    height: 25px;
}
.row {
    display: flex;
    flex-direction: row;
}
.col-80 {
    flex: 80%;
}
.col-10 {
    padding-top: 15px;
    flex: 10%;
}
/* Main content */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 8px;
}
.wrap {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    padding: 5px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    min-height: 130px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Table for dashboard */
#report {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#report td, #report th {
    border: 1px solid #ddd;
    padding: 10px;
}

#report tr:nth-child(even){background-color: #f2f2f2;}

#report th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #EA5B31;
    color: white;

}
#report .main {
    text-align: left;
    width: 60%;
}
.btn {
    border-radius: 3px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.6;
}
.history-btn {
    margin-top: 20px;
}
.add-btn {
    display: flex;
    justify-content: center;
}
.card {
    flex: 0 1 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Nunito", sans-serif;
}
.card button:hover {
    opacity: 0.7;
}
.img-responsive {
    display: block;
	border: 0;
	width: 100%;
	height: 150px;
}
.meal-info, .btn-group {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 75%;
}
.info, .modify-btn {
    flex: 50%;
    text-align: center;
}
.card > p {
    text-align: start;
    font-size: 15px;
    margin-top: 0;
}


/* Footer */
.footer {
    display: flex;
    height: 70px;
    color: #000;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* margin-top: 20px; */
}


  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
    }
    .sidebar a {
        float: left;
    }
    .sidebar a.active {
        border-left: 0px;
        border-bottom: 3px solid #EA5B31;
    }
    div.content {
        padding-top: 150px;
        margin-left: 0;
    }
    .name-circle {
        display: none;
    }
    .d-none {
        display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar a.active {
        border-left: 0px;
        border-bottom: 0px;
    }
    div.content {
        padding-top: 250px;
        margin-left: 0;
    }
  }


/* Debugging colors */
.danger {
    color: #d50000;
}
.bg-danger {
    background-color: #d50000;
}
.warning {
    color: #ffa100;
}
.bg-warning {
    background-color: #ffa100;
}
.success {
    color: #4CAF50;
}
.bg-success {
    background-color: #4CAF50;
}
.cool {
    color: #007bff;
}
.bg-cool {
    background-color: #007bff;
}
.bg-white {
    background-color: #fff;
}