@import url("https://fonts.googleapis.com/css?family=Nunito:300,600i");
@import url('https://fonts.googleapis.com/css?family=Sacramento');

html {
    height: 100%;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}
body {
    background-color: #ffffff;
    margin: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Navigation bar  */
nav {
    padding: 8px;
    margin: 0px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
nav a {
    color: inherit; 
    text-decoration:none;
}
nav a:hover {
    color: #EA5B31;
    text-decoration:none;
}
.nav-header {
    padding: 5px;
    padding-left: 25px;
    flex-grow: 8;
    text-align: left;
    font-size: 30px;
    font-family: 'Sacramento', cursive;
    font-weight: 600;
}
.nav-header a:hover {
    color: #000000;
}
.meal {
    color: #EA5B31;
}
.nav-auth {
    padding: 5px;
    display: flex;
    flex-grow: 2;
    font-size: 18px;
}
.nav-signin {
    flex-grow: 5;
}
.nav-signup {
    flex-grow: 5;
}

/* Main section */
.container {
    position: relative;
    display: block;
    width: 90%;
    margin: auto;
}
.main-img {
    position: absolute;
    right: 0;
    width: 700px;
    top: -125px;
}
.img {
    height: auto;
    max-width: 100%;
}
.main-info {
    position: relative;
}
.main-info h2 {
    font-size: 40px;
    margin-bottom: 2px;
}
.main-info p {
    font-size: 20px;
}
.main-info a {
    display: inline-block;
    border-radius: 50px;
    background-color: #3cb371;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.main-info a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main-info a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.main-info a:hover span {
    padding-right: 25px;
}
  
.main-info a:hover span:after {
    opacity: 1;
    right: 0;
}
footer {
    display: flex;
    height: 70px;
    color: #000;
    border-top: 1px solid rgba(97, 95, 95, 0.31);
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* margin-top: 20px; */
}
/* Debugging colors */
.tomato {
    background-color: #ff6347;
}
.blue {
    background-color:#1e90ff;
}
.green {
    background-color:#3cb371;
}